<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!-- MyBatis 설정 -->
    <settings>
        <setting name="logImpl" value="STDOUT_LOGGING"/>
        <!-- 기타 설정 추가 -->
    </settings>

    <!-- Type Alias 설정 -->
    <typeAliases>
        <!-- 패키지에 있는 클래스들을 모두 별칭으로 등록 -->
        <package name="com.example.birth_service.model"/>
    </typeAliases>

    <!-- Mapper 등록 -->
    <mappers>
        <!-- Mapper 인터페이스의 위치를 등록 -->
        <mapper class="com.example.birth_service.mapper.MemberMapper"/>
        <!-- 기타 Mapper 등록 -->
    </mappers>

</configuration>

